<div class="pt-2 pb-2">
  <h2>Basic datepicker</h2>
  <ngb-datepicker #dp [(ngModel)]="model"></ngb-datepicker>
  <hr/>
  <button class="btn btn-sm btn-outline-primary me-2" (click)="selectToday()">Select Today</button>
  <button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">To current month</button>
</div>

<div class="pb-2">
  <h2>Datepicker in a popup</h2>
  <form class="row row-cols-sm-auto">
    <div class="col-12">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" autocomplete="off"
               [ngClass]="{'is-invalid' : c2.invalid && !c2.pristine, 'is-valid' : c2.valid && !c2.pristine}"
               name="dp2" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" #c2="ngModel" (dateSelect)="onDateSelect($event)">
        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"><i class="bi bi-calendar-date"></i></button>
      </div>
      <p class="alert alert-info mt-1 d-inline-block">
        <span class="bi bi-info-circle"></span>
        <code class="ms-2">btn-outline-secondary</code> is used for button.
      </p>
    </div>
  </form>
  <hr/>
  <pre>Model: {{ model2 | json }}</pre>
  <pre
    [ngClass]="{'is-invalid' : c2.invalid && !c2.pristine, 'is-valid' : c2.valid && !c2.pristine}">State: {{ c2.status }}</pre>
</div>
