<div class="pt-2 pb-2">
  <h2>Pagination</h2>

  <h3>Basic pagination</h3>
  <p>Default pagination:</p>
  <ngb-pagination [collectionSize]="70" [pageSize]="10" [(page)]="pageBasic" aria-label="Default pagination"/>

  <pre>Current page: {{ pageBasic }}</pre>

  <hr/>

  <h3>Disabled pagination</h3>
  <p>Pagination control can be disabled:</p>
  <ngb-pagination [collectionSize]="70" [(page)]="pageBasic" [disabled]="isDisabled" />
  <hr />
  <button class="btn btn-sm btn-outline-primary" (click)="toggleDisabled()">Toggle disabled</button>

  <hr/>

  <h3>Advanced pagination</h3>
  <p>Restricted size, no rotation:</p>
  <ngb-pagination [collectionSize]="180" [pageSize]="10" [(page)]="pageAdvanced" [maxSize]="5" [boundaryLinks]="true"/>

  <pre>Current page: {{ pageAdvanced }}</pre>

</div>
