<div class="pt-2 pb-2">
  <h6 class="mt-4">Body only</h6>
  <ngb-toast [autohide]="false"> I am a simple static toast. </ngb-toast>

  <h6 class="mt-4">Autohide in 3s</h6>
  <ngb-toast [autohide]="true" [delay]="3000"> I will auto-hide. </ngb-toast>

  <h6 class="mt-4">With a text header</h6>
  @if (show) {
    <ngb-toast header="Hello" [autohide]="false" (hidden)="show=false">
      I am a simple static toast with a header.
    </ngb-toast>
  }

  <h6 class="mt-4">Button to show toast</h6>
  <button class="btn btn-primary " (click)="showWithButton = true" [disabled]="showWithButton === true">Click me to show a toast</button>
  @if (showWithButton) {
    <hr />
    <ngb-toast
      header="Autohide can be cancelled"
      [delay]="5000"
      [autohide]="autohide"
      (mouseenter)="autohide = false"
      (mouseleave)="autohide = true"
      (hidden)="showWithButton = false; autohide = true"
      [class.bg-warning]="!autohide"
      >
      @if (autohide) {
        <div>Try to mouse hover me.</div>
      } @else {
        <div>I will remain visible until you leave again.</div>
      }
    </ngb-toast>
  }

  <ng-template #dangerTpl>
    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
      <path
        d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"
        />
      </svg>
      Danger Danger !
    </ng-template>

    <h6 class="mt-4">Toast management service</h6>
    <button class="btn btn-primary mx-1" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button>
    <button class="btn btn-success mx-1" (click)="showSuccess()" ngbTooltip="Will disappear in 10s">Success toast</button>
    <button class="btn btn-danger mx-1" (click)="showDanger(dangerTpl)" ngbTooltip="Will disappear in 15s">Danger toast</button>
  </div>

  <app-toasts-container aria-live="polite" aria-atomic="true"></app-toasts-container>
