<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular + Bootstrap + Datepicker demo</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-secondary sticky-top">
  <div class="container-xxl">
    <span class="navbar-brand mb-0 h1">Angular + Bootstrap + Datepicker demo</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="isMenuCollapsed = true"><i class="bi bi-house-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="/basics" routerLinkActive="active" (click)="isMenuCollapsed = true">Basics (Locale + Pipes)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="/datepickers" routerLinkActive="active" (click)="isMenuCollapsed = true">🗓️ Datepickers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="/pagination" routerLinkActive="active" (click)="isMenuCollapsed = true">⏩ Pagination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="/toasts" routerLinkActive="active" (click)="isMenuCollapsed = true">🍞 Toasts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="/table" routerLinkActive="active" (click)="isMenuCollapsed = true">🧇 Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="/theme" routerLinkActive="active" (click)="isMenuCollapsed = true">
            🎨 Theme colors</a>
        </li>
        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
          <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
          <hr class="d-lg-none my-2 text-white-50">
        </li>
        <app-theme-picker/>
      </ul>
    </div>
  </div>
</nav>

<main class="container" style="min-height: 85vh;">
  <router-outlet></router-outlet>
</main>

<footer class="footer border-top d-none d-md-block">
  <div class="container py-1">
    <div class="row gy-4">
      <div class="col-12 text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://gitlab.com/ghusta/angular-datepicker-demo" target="_blank" data-bs-toggle="tooltip"
               data-bs-title="GitLab project"><i class="bi bi-gitlab footer-icons"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/ghusta" target="_blank" data-bs-toggle="tooltip" data-bs-title="Twitter"><i
              class="bi bi-twitter footer-icons"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
