<div class="pt-2 pb-2">
  <h2>Theme colors</h2>

  <h3>Text with background</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="p-3 mb-3 text-bg-primary rounded-3">Primary</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 text-bg-secondary rounded-3">Secondary</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 text-bg-success rounded-3">Success</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 text-bg-danger rounded-3">Danger</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 text-bg-warning rounded-3">Warning</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 text-bg-info rounded-3">Info</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 text-bg-light rounded-3">Light</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 text-bg-dark rounded-3">Dark</div>
    </div>
  </div>

  <hr>

  <h3>Buttons</h3>
  <div class="d-flex flex-column flex-md-row gap-3">
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-light">Light</button>
    <button class="btn btn-dark">Dark</button>
  </div>
  <h6>Disabled</h6>
  <div class="d-flex flex-column flex-md-row gap-3">
    <button class="btn btn-primary disabled">Primary</button>
    <button class="btn btn-secondary disabled">Secondary</button>
  </div>
  <h6>Outline</h6>
  <div class="d-flex flex-column flex-md-row gap-3">
    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-success">Success</button>
    <button class="btn btn-outline-danger">Danger</button>
    <button class="btn btn-outline-warning">Warning</button>
    <button class="btn btn-outline-info">Info</button>
    <button class="btn btn-outline-light">Light</button>
    <button class="btn btn-outline-dark">Dark</button>
  </div>

  <hr>

  <h3>Alerts</h3>
  <div class="row">
    <div class="col-12 alert alert-primary" role="alert">Primary Alert</div>
    <div class="col-12 alert alert-secondary" role="alert">Secondary Alert</div>
    <div class="col-12 alert alert-info" role="alert">Info Alert</div>
  </div>

  <hr>

  <h3>Forms : inputs</h3>
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="col">
      <label for="exampleFormControlInput2" class="form-label">Disabled input</label>
      <input class="form-control" type="text" id="exampleFormControlInput2" placeholder="Disabled input"
             aria-label="Disabled input example" disabled>
    </div>
  </div>

  <hr/>

  <h3>Checkboxes and radios</h3>
  <div id="some-checkboxes">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Checked checkbox
      </label>
  </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDis" checked disabled>
      <label class="form-check-label" for="flexCheckCheckedDis">
        Checked disabled checkbox
      </label>
    </div>
  </div>

  <div class="input-group mt-3">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
    </div>
    <input type="text" class="form-control" aria-label="Text input with radio button" placeholder="Todo...">
  </div>

  <div id="some-radios" class="mt-3">
    <p>Choose a pet:</p>
    <div class="row">
      <div class="form-check col-md-1 col-2">
        <input class="form-check-input" type="radio" name="flexRadioPet" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          👽
        </label>
      </div>
      <div class="form-check col-md-1 col-2">
        <input class="form-check-input" type="radio" name="flexRadioPet" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          🐶
        </label>
      </div>
      <div class="form-check col-md-1 col-2">
        <input class="form-check-input" type="radio" name="flexRadioPet" id="flexRadioDefault3">
        <label class="form-check-label" for="flexRadioDefault3">
          🐱
        </label>
      </div>
      <div class="form-check col-md-1 col-2">
        <input class="form-check-input" type="radio" name="flexRadioPet" id="flexRadioDefault4">
        <label class="form-check-label" for="flexRadioDefault4">
          🦊
        </label>
      </div>
      <div class="form-check col-md-1 col-2">
        <input class="form-check-input" type="radio" name="flexRadioPet" id="flexRadioDefault5">
        <label class="form-check-label" for="flexRadioDefault5">
          🐔
        </label>
      </div>
      <div class="form-check col-md-1 col-2">
        <input class="form-check-input" type="radio" name="flexRadioPet" id="flexRadioDefault6">
        <label class="form-check-label" for="flexRadioDefault6">
          🐸
        </label>
      </div>
      <div class="form-check col-md-1 col-2">
        <input class="form-check-input" type="radio" name="flexRadioPet" id="flexRadioDefault7">
        <label class="form-check-label" for="flexRadioDefault7">
          🐷
        </label>
      </div>
      <div class="form-check col-md-1 col-2">
        <input class="form-check-input" type="radio" name="flexRadioPet" id="flexRadioDefault8">
        <label class="form-check-label" for="flexRadioDefault8">
          🐴
        </label>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <h3>List group</h3>
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">An active item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item disabled">A fourth item (disabled)</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
    <div class="col">
      <h3>Links and buttons</h3>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          The current link item
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
      </div>
    </div>
  </div>

  <hr>

  <h3>Margin utilities</h3>
  <div class="text-bg-secondary">
    <div class="ms-auto">ms-auto</div>
    <div class="ms-0">ms-0</div>
    <div class="ms-1">ms-1</div>
    <div class="ms-2">ms-2</div>
    <div class="ms-3">ms-3</div>
    <div class="ms-4">ms-4</div>
    <div class="ms-5">ms-5</div>
    <div class="ms-6">ms-6</div>
  </div>
  <div class="alert alert-info mt-2">
    <p>
      <span class="bi bi-info-circle"></span>
      Add more variations with variable <code>$spacers</code>.
    </p>
    <p>
    See <a href="https://github.com/twbs/bootstrap/blob/v5.3.3/scss/_variables.scss#L407">code here</a>.
    </p>
    <p>
    See doc : <a href="https://getbootstrap.com/docs/5.3/utilities/spacing/#margin-and-padding">Margin and padding</a>.
    </p>
  </div>

  <hr>

  <div class="row mt-3">
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-header">
          Documentation
        </div>
        <div class="card-body">
          <p class="card-text">Click on the buttons below to access documentation.</p>
          <div class="d-flex flex-column flex-md-row gap-3">
            <div>
              <a href="https://getbootstrap.com/docs/5.3/customize/color/#theme-colors" target="_blank"
                 class="btn btn-primary">Theme colors</a>
            </div>
            <div>
              <a href="https://getbootstrap.com/docs/5.3/customize/color-modes/" target="_blank"
                 class="btn btn-primary">Color modes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
