<div id="testing-date-pipes" class="pt-2 pb-2" slugData>
  <h2>Testing DatePipe</h2>
  <div>{{ '2022-07-31' | date }} <code>default</code></div>
  <div>{{ '2022-07-31' | date:'shortDate' }} <code>shortDate</code></div>
  <div>{{ '2022-07-31' | date:'medium' }} <code>medium</code></div>
  <div>{{ '2022-07-31' | date:'long' : undefined : 'en-US' }}<span class="badge text-bg-secondary mx-1">🇺🇸</span></div>
  <div>{{ '2022-07-31' | date:'long' : undefined : 'fr-FR' }}<span class="badge text-bg-secondary mx-1">🇫🇷</span></div>
  <div>{{ '2022-07-31' | date:'long' : undefined : 'es' }}<span class="badge text-bg-secondary mx-1">🇪🇸</span></div>
  <br>
  <blockquote>See <a href="https://angular.io/api/common/DatePipe">DatePipe</a></blockquote>
</div>

<div class="pb-2">
  <h2 slugData>Current Locale</h2>
  <div>{{ locale }}</div>
  <br>
  <blockquote>See <a href="https://angular.io/api/core/LOCALE_ID">LOCALE_ID</a></blockquote>
</div>

<div class="pb-2">
  <h2>Localized DateFormat</h2>
  <div>Short DateFormat : <code>{{ shortDateFormat }}</code><span class="badge text-bg-secondary mx-1">current locale</span></div>
  <div>Short DateFormat : <code>{{ shortDateFormatEnUs }}</code><span class="badge text-bg-secondary mx-1">🇺🇸</span></div>
  <div>Short DateFormat : <code>{{ shortDateFormatEs }}</code><span class="badge text-bg-secondary mx-1">🇪🇸</span></div>
  <div>Medium DateFormat : <code>{{ mediumDateFormat }}</code></div>
  <div>Long DateFormat : <code>{{ longDateFormat }}</code></div>
  <br>
  <blockquote>See <a href="https://angular.io/api/common/getLocaleDateFormat">getLocaleDateFormat</a>
  </blockquote>
</div>
