<div class="pt-2 text-center animation-fade-in">
  <h1>Welcome!</h1>


  <div class="row">
    <!-- Centered : see https://getbootstrap.com/docs/5.3/layout/columns/#offsetting-columns -->
    <div class="col-md-6 offset-md-3">

      <div class="card border-info mt-5" >
        <div class="card-header">
          Note
        </div>
        <div class="card-body">
          <h5 class="card-title">Deep Linking</h5>
          <p class="card-text">Deep links are enabled through the server configuration.</p>
          <a href="https://angular.io/guide/deployment#server-configuration" class="btn btn-primary" target="_blank">Go to Angular doc to see details</a>
        </div>
      </div>

    </div>
  </div>

</div>
