/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */

/* See Control status CSS classes (https://angular.io/guide/form-validation#control-status-css-classes) */

/* .ng-valid[required], .ng-valid.required { */

/*  border-left: 5px solid #42A948; !* green *! */

/* } */

/* .ng-invalid:not(form) { */

/*  border-left: 5px solid #a94442; !* red *! */

/* } */

pre.is-valid {
  color: var(--bs-form-valid-color);
  font-weight: bold;
}

pre.is-invalid {
  color: var(--bs-form-invalid-color);
  font-weight: bold;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Can use rgba(var(--bs-primary-rgb), 0.75) for color */
.footer-icons {
  font-size: 1.5rem;
  color: var(--bs-primary-bg-subtle);
}

.footer-icons:hover {
  color: var(--bs-primary);
}

.animation-fade-in {
  animation: 5s ease fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* https://ng-bootstrap.github.io/#/components/datepicker/overview#today */
:not([data-bs-theme]) .ngb-dp-today > div:not(.bg-primary) {
  background-color: var(--bs-info);
  color: rgb(0 0 0 / 78%);
}

/*
  Selected day has "bg-primary" class.
  Selected class has priority over day class.
*/

[data-bs-theme="light"] .ngb-dp-today > div:not(.bg-primary) {
  background-color: var(--bs-primary-bg-subtle); /* uses lighter primary bg */
  color: black;
}

[data-bs-theme="dark"] .ngb-dp-today > div:not(.bg-primary) {
  background: repeating-linear-gradient(
    45deg,
    #f3c902,
    #f3c902 10px,
    #efe9a5 10px,
    #efe9a5 20px
  );
  color: #494545;
}
