<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped caption-top">
    <caption>🚀 Some rockets</caption>
    <thead>
    <tr class="d-flex">
      <th scope="col" class="col-2">Start date</th>
      <th scope="col" class="col-2">End date</th>
      <th scope="col" class="col-8">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr class="d-flex">
      <td class="col-2 px-2">01/09/2015</td>
      <td class="col-2">28-02-2016</td>
      <td class="col-8">XXX - Falcon 1</td>
    </tr>
    <tr class="d-flex">
      <td class="col-2 px-2">01/09/2017</td>
      <td class="col-2">31/08/2018</td>
      <td class="col-8">YYY - Falcon 9</td>
    </tr>
    <tr class="d-flex">
      <td class="col-2 px-2">01/10/2019</td>
      <td class="col-2">31/08/2020</td>
      <td class="col-8">FHE - Falcon Heavy</td>
    </tr>
    <tr class="d-flex">
      <td class="col-2 px-2">01/10/2021</td>
      <td class="col-2">31/08/2022</td>
      <td class="col-8">SSH - Starship</td>
    </tr>
    <tr class="d-flex">
      <td class="col-2 px-2">01/12/2021</td>
      <td class="col-2">---</td>
      <td class="col-8">DRG - Dragon (Spacecraft)</td>
    </tr>
    </tbody>
  </table>
</div>
